<div class="container mt-5">
  <div class="space-form"></div>
  <div class="trans-cards px-2">

    <h2>Crée ton Design Humain</h2>
    <%= form_with url: form_design_path, method: :post do %>
<%# ATTENTION FORMAT DATE ET HEURE %>
      <div class="trans-cards form-name">
      <p>Nom</p>
        <%= text_field_tag :name,
              params[:name],
              class: "form-control text-center fw-bold w-100% rounded",
              placeholder: "Jane Doe"
          %>
      </div>

        <div class="form-date">
                <div class="form-day">
                  <p>Jour</p>
                  <%= text_field_tag :day,
                        params[:day],
                        class: "form-control text-center fw-bold rounded",
                        placeholder: "08"
                    %>
                </div>
                <div class="form-month">
                <p>Mois</p>
                  <%= text_field_tag :month,
                        params[:month],
                        class: "form-control text-center fw-bold rounded",
                        placeholder: "06"
                    %>
                </div>
                <div class="form-year">
                <p>Année</p>
                  <%= text_field_tag :year,
                        params[:year],
                        class: "form-control text-center fw-bold rounded",
                        placeholder: "1980"
                    %>
                </div>
        </div>
            <div class="form-birth mt-3">
              <div class="form-hour">
              <p>Heure</p>
                <%= text_field_tag :hour,
                      params[:hour],
                      class: "form-control text-center fw-bold rounded",
                      placeholder: "08"
                  %>
              </div>
              <div class="form-min">
              <p>Minutes</p>
                <%= text_field_tag :minutes,
                      params[:minutes],
                      class: "form-control text-center fw-bold rounded",
                      placeholder: "15"
                  %>
              </div>
          </div>
            <div class="form-city mt-3">
            <p>Lieu de naissance</p>
                    <%= text_field_tag :city,
                        params[:city],
                        class: "form-control text-center fw-bold rounded",
                        placeholder: "Paris"
                    %>
            </div>
        <%= submit_tag "Générer mon Design Humain !", name: "", class: "btn btn-primary mt-4 text-center w-100 mb-2 rounded" %>
              <% end %>

  </div>
</div>
