<div class="container img">
  <div class="space"></div>
  <div class="show-content-challenges">
    <div class="trans-back-blue">
      <h1 class="challenge-content">Challenge</h1>
       <h2><%= @userchallenge.challenge.title %></h2>
    </div>
      <div class="trans-back chal-desc">
        <p><%= @userchallenge.challenge.description %></p>
      </div>

      <div class="trans-back text-center">
          <% if @userchallenge.status == nil %>
            <p>Vous n'avez pas encore tenté ce challenge, il est l'heure !</p>
              <div class="emote-btn">
                <%= link_to change_status_user_challenge_path(@userchallenge, status: "nul"), data: { turbo_method: :patch} do %>
                  <i class="fa-regular fa-face-tired" style="color: #cc3838;"></i>
                <% end %>
                <%= link_to change_status_user_challenge_path(@userchallenge, status: "moyen"), data: { turbo_method: :patch} do %>
                  <i class="fa-regular fa-face-meh" style="color: #e19a37;"></i>
                <% end %>
                <%= link_to change_status_user_challenge_path(@userchallenge, status: "réussi"), data: { turbo_method: :patch} do %>
                  <i class="fa-regular fa-face-grin-stars" style="color: #47a824;"></i>
                <% end %>
              </div>
          <% elsif @userchallenge.status == "nul" %>
                <p>La dernière fois, vous ne vous sentiez pas en accord avec vous même ! Retentez l'expérience</p>
                  <div class="emote-btn">
                    <%= link_to change_status_user_challenge_path(@userchallenge, status: "moyen"), data: { turbo_method: :patch} do %>
                      <i class="fa-regular fa-face-meh" style="color: #e19a37;"></i>
                    <% end %>
                    <%= link_to change_status_user_challenge_path(@userchallenge, status: "réussi"), data: { turbo_method: :patch} do %>
                      <i class="fa-regular fa-face-grin-stars" style="color: #47a824;"></i>
                    <% end %>
                  </div>
          <% elsif @userchallenge.status == "moyen" %>
                <p>La dernière fois, vous vous sentiez mitigé, retentez l'expérience !</p>
                  <div class="emote-btn">
                    <%= link_to change_status_user_challenge_path(@userchallenge, status: "nul"), data: { turbo_method: :patch} do %>
                      <i class="fa-regular fa-face-tired" style="color: #cc3838;"></i>
                    <% end %>
                    <%= link_to change_status_user_challenge_path(@userchallenge, status: "réussi"), data: { turbo_method: :patch} do %>
                      <i class="fa-regular fa-face-grin-stars" style="color: #47a824;"></i>
                    <% end %>
                  </div>
          <% elsif @userchallenge.status == "réussi" %>
              <p class="">Bravo ! Vous avez fait un beau pas vers votre élévation. Place à la suite !</p>
          <% end %>

            <div class="mt-4 mb-2">
              <%= link_to "Tous mes challenges", user_challenges_path, class:"center-btn text-decoration-none btn-pale-blue" %>
            </div>
      </div>
  </div>
</div>
