<div class="container">

<h1 class="let us elevate"> Let Us Elevate </h1>


  <div class="text-block">


      <i class="fa-solid fa-moon"> Mon design </i>
    </div>



    <%= image_tag "https://imagizer.imageshack.com/img924/8678/xdEd92.png", class:"image-design" %>

    <div class="trans-back-vic">

      <div> <p> Type : <%= @design.name_type %>  </p> </div>
      <div> <p> Strategie : <%= @design.strategy %>  </p> </div>
      <div> <p> Autorité : <%= @design.design.authority %>  </p> </div>
      <div> <p> Thème du Non Soi : <%= @design.design.notself %> </p> </div>
    </div>
  </div>
