<div class="container" data-controller="audios" data-path="<%= asset_path("sound.mp3") %>">
  <h1> Votre Design Humain </h1>

  <div class="image-design">
    <p><%= current_user.username ? current_user.username : "Votre Design" %></p>
    <%= image_tag "https://imagizer.imageshack.com/img924/6677/YtUAGl.png", class:"image-design" %>
  </div>



  <div class="info-for-design">
    <div class="audio-centered"><i class="fa-solid fa-circle-play btn-lecture" data-action="click->audios#play"></i><p> <strong> Type: </strong>  <%= @user_design.design.name_type %>  </p></div>
    <div class="audio-centered"><i class="fa-solid fa-circle-play btn-lecture" data-action="click->audios#play"></i><p> <strong> Stratégie: </strong>  <%= @user_design.design.strategy %> </p></div>
    <div class="audio-centered"><i class="fa-solid fa-circle-play btn-lecture" data-action="click->audios#play"></i><p> <strong> Autorité: </strong> <%= @user_design.design.authority %>  </p></div>
    <div class="audio-centered"><i class="fa-solid fa-circle-play btn-lecture" data-action="click->audios#play"></i><p> <strong> Thème du Non Soi : </strong>  <%= @user_design.design.notself %> </p></div>
  </div>

</div>
