<div class="navbar-lewagon">
  <% if current_user %>
    <%# Si le user a deja un design on le redirige dessus %>
    <% if current_user.user_design %>
      <%= link_to user_design_path(current_user.user_design), class: "navbar-brand" do %>
        <i class="fa-solid fa-moon"></i>
        <p>Mon design</p>
      <% end %>
    <% else %>
        <%# sinon on redirige vers le formulaire %>
      <%= link_to form_design_path, class: "navbar-brand" do %>
        <i class="fa-solid fa-moon"></i>
        <p>Mon design</p>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to user_challenges_path, class: "navbar-brand" do%>
    <i class="fa-solid fa-star"></i>
    <p>Mes challenges</p>
  <% end %>

  <%= link_to try_design_path, class: "navbar-brand" do %>
    <i class="fa-solid fa-earth-europe"></i>
    <p>Explorer</p>
  <% end %>

  <%= link_to informations_path, class: "navbar-brand"  do %>
    <i class="fa-solid fa-circle-info hw" style="color: #ffffff;"></i>
    <p>Informations</p>
  <% end%>
</div>
